{{viewTitle}}
<div style="padding-left: 280px; padding-top:45px; ">
<form action="/user/edit/{{data.id}}" method="post">
<input type="hidden" name="id" value="{{data.id}}">
 
 <div  class="col-sm-8 offset-md-6" style="background-color: rgb(13, 15, 15);margin-top: 25px;padding-bottom:80px;">
            <div class="form-group">
                <label for="name">name</label>
                <input type="text"  placeholder="name" name="name" class="form-control" value="{{data.name}}">
            </div>
            <div class="form-group">
                <label for="age">age</label>
                <input type="text"  placeholder="age" name="age" class="form-control" value="{{data.age}}">
            </div>
              <div class="form-row">
                   <div class="form-group col-md-6">
                <label for="place">place</label>
                <input type="text" placeholder="place" name="place" class="form-control" value="{{data.place}}"> 
            <div class="form-group col-md-4 clearfix " style="padding-Top: 20px;padding-left:60px;" > 
            <button type="submit" class="btn btn-primary pull-left ">ADD</button>
            </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>